
<% unless @reaction.valid? %>
  <ol class="errors">
  <% @reaction.errors.full_messages.each do |message| %>
    <li>
    <%= message %>
    </li>
  <% end %>
  </ol>
<% end %>


<%= form_for @reaction do |f| %>
  <ul>
    <li>
      <%= f.label :emoji %>
      <%= f.text_field :emoji %>
    </li>
    <%= f.submit %>
  </ul>
  
<% end %>