<% if flash[:error] %>
  <ul>
  <% flash[:error].each do |error_message| %>
    <li style="color:red;"><%= error_message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @passenger do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :train_id %>
  <%# <%= f.select :train_id, @trains.map {|train| [train.name, train.id]} %> 
  <%= f.collection_select :train_id, @trains, :id, :name %>
  <%= f.submit %>
<% end %>
