<h2>I am <%= @student.name %>!</h2>

<ul>
  <li>I am <strong><%= @student.age %></strong> years old...</li>
  <li><strong>My favorite band:</strong> <%= @student.favorite_band %></li>
  <li><strong>My favorite movie:</strong> <%= @student.favorite_movie %></li>
</ul>

<form method="POST" action="/students/<%= @student.id %>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="delete <%= @student.name %>" />
</form>